# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MiniGamesLauncherTestTask.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\MiniGamesLauncherTestTask\.idea\.idea.MiniGamesLauncherTestTask\.idea/dataSources/
/dataSources.local.xml
